html {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: #ecf0f5;
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

.sidebar-toggle::before {
  display: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.logo {
  width: 250px;
}

.form-group {
  padding-bottom: 30px;
}

.login-page {
  margin-top: -90px;
  height: 100%;
  background-color: $primary;
  @media (max-width: 768px) {
    margin-top: -50px;
  }
}

.not-found-page {
  background-color: #d2d6de;
  border-radius: 15px;
  @include centerer;
}

.centeredBox {
  @include centerer;
}
