html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background-color: $primary;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.logo {
  width: 250px;
  @media screen and (max-width: 320px) {
    margin-top: -50px;
  }
  @media screen and (max-width: 1200px) {
    margin-top: 0px;
  }
}

.form-group {
  padding-bottom: 30px;
}
